{% load static %}

{% block title %}
    Home page
{% endblock %}

{% block contents %}
<div class="features-grid">
    <!-- Static books -->
    <div class="feature-card">
        <h3>សៀវភៅគណិតវិទ្យាថ្នាក់ទី១២</h3>
        <a href="https://sala.moeys.gov.kh/kh/library/00006273" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/27.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>មូលដ្ធានគ្រឺះTelecom</h3>
        <a href="" target="_blank"> 
            <img class="img1" src="{% static 'myapp/images/24.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>របៀបប្រេីChatGPT</h3>
        <a href="" target="_blank"> 
            <img class="img1" src="{% static 'myapp/images/23.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>Computer Network</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/12.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>Python Programing</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/4.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>វិញ្ញាសារត្រៀមប្រឡងបាក់ឌុប</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/7.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>រៀនRobot</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/6.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>លំហាត់គណិតវិទ្យាសិស្សពូកែថ្នាក់ទី៩</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/8.PNG' %}" alt="">
        </a>
    </div>

    <div class="feature-card">
        <h3>មូលដ្ធានគ្រឺះcomputer</h3>
        <a href="" target="_blank">  
            <img class="img1" src="{% static 'myapp/images/13.PNG' %}" alt="">
        </a>
    </div>
       
</div>
{% endblock %}